<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <link rel="stylesheet" href="https://d22ss3ef1t9wna.cloudfront.net/loan_providers/apollo_salary_slip_template.css">
</head>

<body class="c30 doc-content">
    <p class="c3"><span class="c27"></span></p>
    <a id="t.596c1030007525e4c633171d8a436528e7440819"></a><a id="t.0"></a>
    <table class="c32">
        <tr class="c37">
            <td class="c34" colspan="6" rowspan="1">
                <p class="c38"><span class="c7">{employerName}</span></p>
            </td>
        </tr>
        <tr class="c16">
            <td class="c34" colspan="6" rowspan="1">
                <p class="c20"><span class="c0">Payout Details</span></p>
            </td>
        </tr>
        <tr class="c17">
            <td class="c34" colspan="6" rowspan="1">
                <p class="c36"><span class="c5">Contact No: {employerPhone}</span></p>
            </td>
        </tr>
        <tr class="c10">
            <td class="c8" colspan="1" rowspan="1">
                <p class="c12"><span class="c2">Emp Name: </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c29"><span class="c5">{employeeName} </span></p>
            </td>
            <td class="c11" colspan="4" rowspan="1">
                <p class="c20"><span class="c2">Payout Period</span></p>
            </td>
        </tr>
        <tr class="c17">
            <td class="c8" colspan="1" rowspan="1">
                <p class="c26"><span class="c24">Emp Id: </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c21"><span class="c6">{employerEmployeeId} </span></p>
            </td>
            <td class="c1" colspan="1" rowspan="1">
                <p class="c26"><span class="c2">From </span></p>
            </td>
            <td class="c15" colspan="1" rowspan="1">
                <p class="c13"><span class="c6">{previousMonthFirstDay} </span></p>
            </td>
            <td class="c9" colspan="1" rowspan="1">
                <p class="c22"><span class="c24">To </span></p>
            </td>
            <td class="c14" colspan="1" rowspan="1">
                <p class="c18"><span class="c6">{previousMonthLastDay}</span></p>
            </td>
        </tr>
        <tr class="c23">
            <td class="c8" colspan="1" rowspan="1">
                <p class="c3"><span class="c6"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c3"><span class="c6"></span></p>
            </td>
            <td class="c28" colspan="2" rowspan="1">
                <p class="c22"><span class="c19">Earnings </span></p>
            </td>
            <td class="c35" colspan="2" rowspan="1">
                <p class="c31"><span class="c5">{monthlyInHandSalary}</span></p>
            </td>
        </tr>
        <tr class="c25">
            <td class="c34" colspan="6" rowspan="1">
                <p class="c33"><span class="c2">*Earnings are based on this day and final earnings can vary</span></p>
            </td>
        </tr>
    </table>
    <p class="c3"><span class="c27"></span></p>
    <p class="c3"><span class="c27"></span></p>
</body>

</html>