<form>
  <div class="form-check mt-3">
    <input
      class="form-check-input"
      type="radio"
      name="approval_status"
      id="approve"
      value="approve"
      checked
    />
    <label class="form-check-label" for="approve"> Approve </label>
  </div>
  <div class="form-check mt-3">
    <input
      class="form-check-input"
      type="radio"
      name="approval_status"
      id="deny"
      value="deny"
    />
    <label class="form-check-label" for="deny"> Deny </label>
  </div>
</form>
