<form>
  <div class="mt-3">
    <input
      type="text"
      class="form-control mt-2"
      name="employer-notes"
      placeholder="Enter Notes"
    />
    <div class="mt-3">
      <label>Upload Agreement</label>
      <input
        type="file"
        class="form-control mt-2"
        name="employer-agreement"
        placeholder="Upload Agreement"
      />
    </div>
    <div class="mt-3">
      <label>Upload PAN</label>
      <input
        type="file"
        class="form-control mt-2"
        name="employer-pan"
        placeholder="Upload PAN"
      />
    </div>
    <div class="mt-3">
      <label>Upload GST</label>
      <input
        type="file"
        class="form-control mt-2"
        name="employer-gst"
        placeholder="Upload GST"
      />
    </div>
  </div>
</form>
